@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white;
  }

  .print-page {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 2rem !important;
    max-width: 100% !important;
  }
}
